body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0;
}

.name{
    color: yellowgreen;
}
.button{
    color: rgb(0, 9, 25);
    background-image: linear-gradient(rgb(182, 205, 135),yellowgreen);
    height: 30px;
    width: 100px;
    text-align: center;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}
.pip{
    padding-right: 50px;
    padding-left: 100px;
}
.pip p{
    text-align: justify;
}
.pip img{
    height: 600px;
    width: 600px;
    
}
.pop{
    display: flex;
    padding: 50px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}